/* .App {
  text-align: center;
} */

.App-header {
  /* background-image: url('/asset/background.jpg'); */
  /* background-size: cover; */
  background-size: center  ;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
